table {
	border-collapse: collapse;
	height: 100%;
	margin: 15rem auto;
	width: 20%;
}

table td {
	border: solid 0.01rem;
	margin: 0;
	text-align: center;
}

button {
	height: 100%;
	width: 100%;
}

input {
	height: 100%;
	width: 97%;
}